In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
postgresStr = ("postgresql://postgres:password@localhost:5432/EmployeeSQL")
engine = create_engine(postgresStr)
connection = engine.connect()

In [4]:
all_employees = pd.read_sql('SELECT * FROM employees', connection, parse_dates=["birth_date", "hire_date"])
all_employees.head(5)

   emp_no birth_date first_name last_name gender  hire_date
0   10001 1953-09-02     Georgi   Facello      M 1986-06-26
1   10002 1964-06-02    Bezalel    Simmel      F 1985-11-21
2   10003 1959-12-03      Parto   Bamford      M 1986-08-28
3   10004 1954-05-01  Chirstian   Koblick      M 1986-12-01
4   10005 1955-01-21    Kyoichi  Maliniak      M 1989-09-12

In [6]:
last_name_count = pd.read_sql('SELECT last_name, COUNT(last_name) FROM employees GROUP BY last_name', connection, parse_dates=["birth_date", "hire_date"])
last_name_count.head()

    last_name  count
0     Breugel    161
1  Maierhofer    199
2    Spinelli    189
3      Birrer    180
4    DasSarma    185